.main__right-project {
    display: flex;
    color: black;
    transition: all 0.3s;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.main__right-project:hover {
    opacity: 0.75;
}

.main__right-project-span {
    padding-left: 10px;
    font-size: 20px;
}

.main__contacts-img-project {
    width: 70px;
}
