.main__right {
    color: #381212;
}

.container__right {
    padding: 10px 35px 20px 40px;
}

.main__right-title {
    text-transform: uppercase;
    line-height: 45px;
    padding: 20px 0 10px;
}

.main__right-sub-title {
    padding-top: 12px;
}

.main__right-location {
    display: flex;
    width: 100%;
    margin-left: 30px;
    padding-top: 15px;
}

.main__right-info {
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.main__right-info img {
    width: 15px;
    height: 20px;
    margin-right: 15px;
}