.main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 1px 5px 39px 15px rgba(34, 60, 80, 0.2);
}


.wrap {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px ;
    background-color: #2d8b9b;
    color: azure;
}

@media (max-width: 768px) {
    .wrap {
        display: flex;
        flex-direction: column;
    }
}