.container__left {
    margin: 25px 18px 34px 40px;
}

.main__contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container__left ul, ol {
    margin: 0;
    padding: 0;
}

.main__contacts-block li {
    display: flex;
    list-style-type: none;
    padding: 5px 0;
}

.main__contacts-img {
    width: 25px;
}

.main__contact-text {
    color: azure;
    text-decoration: none;
    padding-left: 15px;

}

.container__left ul, ol {
    margin: 0;
    padding: 0;
}

.main__contacts-block li {
    display: flex;
    list-style-type: none;
    padding: 5px 0;
}

.main__contacts-img {
    width: 25px;
}

.main__contact-text {
    color: azure;
    text-decoration: none;
    padding-left: 15px;

}

